@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Caveat Brush", cursive;
    font-style: normal;
}

.title {
    font-size: 40px;
}

.active {
    box-sizing: border-box;
    border: 1px solid #F7F3E9;
}