@import "tailwindcss";
@plugin "daisyui";

html {
    scroll-behavior: smooth;
}
#recent-section,
#pet-hero-section {
    scroll-margin-top: 65px;
    /* navbar height */
}

* {
    font-family: "Comic Neue", cursive;
    font-style: normal;
}
.font-caveat {
    font-family: "Caveat Brush", cursive;
}

.title {
    font-size: 40px;
}

.active {
    box-sizing: border-box;
    padding: 1px;
    border: 2px solid #F7F3E9;
    border-radius: 10px;
}